// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.chirps {
  background-color: #F5F5F5;
  border: 1px solid #e6e6e6;
}

.chirp {
  padding: 15px;
  margin: 0 auto;
  max-width: 500px;
  background-color: white;
  margin-top: 10px;
  box-shadow: 1px 1px 5px #888888;
  margin-bottom: 10px;
}
